<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.lwz.ssm"></context:component-scan>
    <!--1 用解耦合方式实现Handle-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--1告诉后缀是什么-->
        <property name="suffix" value=".jsp"></property>
        <!--浏览视图所在位置-->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
    </bean>
    <!--需要给校验注解的内容添加validator-->
    <mvc:annotation-driven validator="validator"></mvc:annotation-driven>
    <!--spring mvc 准备工作结束-->
    <mvc:resources mapping="/s/**" location="/static/"></mvc:resources>
    <!--支持文件上传-->
    <bean class="org.springframework.web.multipart.support.StandardServletMultipartResolver" id="multipartResolver"></bean>
    <!--支持国际化-->
    <bean class="org.springframework.context.support.ResourceBundleMessageSource" name="resourceBundleMessageSource" id="messageSource">
        <property name="basename" value="msg"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>
    <!--校验国际化支持-->
    <bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" id="validator">
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
</beans>